@mixin mobile {
    @media (max-width: 768px) {
        @content;
    }
}

// Mixin para centrar elementos
@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}