//paleta de colores
$color-menu:            #2B222C;
$color-detalles:        #5E4352;
$color-fondo-principal: #F2D974;
$color-fondo-tarjeta:   #C7956D;
$color-boton:           #965D62;

//tipografías y espaciado
$fuente-principal: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$fuente-titulos:'Sriracha', cursive;
$espaciado-base: 1rem;